<?xml version="1.0"?>
<robot name="musashi_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:property name="pi" value="3.14159" />
  
  <!-- /////////////////// Robot Main /////////////////// -->
  <xacro:property name="robot_length" value="1.300" />
  <xacro:property name="robot_width" value="0.960" />
  <xacro:property name="robot_height" value="0.520" />
  <xacro:property name="robot_mass" value="194.92" />
  <!-- ///////////////////////////////////////////////////////////// -->

  <!-- /////////////////// Steering Unit /////////////////// -->
  <xacro:property name="x_steering_unit" value="0.130" /> <!-- approx. value -->
  <xacro:property name="y_steering_unit" value="0.157" /> <!-- approx. value -->
  <xacro:property name="z_steering_unit" value="0.320" /> <!-- approx. value -->
  <xacro:property name="mass_steering_unit" value="24.8" />
  <!-- ///////////////////////////////////////////////////////////// -->

  <!-- /////////////////// Wheels /////////////////// -->
  <xacro:property name="thickness" value="0.075" />
  <xacro:property name="radius" value="0.090" />
  <xacro:property name="mass_wheel" value="4.82" />
  <!-- ///////////////////////////////////////////////////////////// -->

  <!-- /////////////////// IMU /////////////////// -->
  <xacro:property name="imu_update_rate" value="25.0" />			<!-- update rate in ms -->
  <xacro:property name="imu_update_rateHz" value="40.0" />
  <xacro:property name="imu_mass" value="0.05" />
  <xacro:property name="imu_noise" value="0.001" />
  <!-- ///////////////////////////////////////////////////////////// -->

</robot>
