<launch>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="velodyne_points"/>
        <param name="scan_time" value="0.01"/>
        <param name="range_max" value="10.0"/>
        <!-- <param name="angle_min" value="-0.785" />
        <param name="angle_max" value="0.785" /> -->
    </node>
 </launch>
