<launch>
    <remap from="/scan" to="/velodyne_scan_front" />
    <remap from="/velodyne_points" to="/velodyne_points_front" />
    <remap from="/velodyne_packets" to="/velodyne_packets_front" />
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="frame_id" value="velodyne_front" />
        <arg name="port" value="2368" />
        <arg name="rpm" value="1200" />
        <arg name="device_ip" value="192.168.20.140" />
    </include>
</launch>
